// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'IBM Plex Sans Thai';

.v-application p {
  margin-bottom: 0px;
}
.v-list-item--dense .v-list-item__title, .v-list-item--dense .v-list-item__subtitle, .v-list--dense .v-list-item .v-list-item__title, .v-list--dense .v-list-item .v-list-item__subtitle {
  line-height: inherit !important;
}
.v-text-field input {
  line-height: inherit !important;
}